<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let rootDir = './' %>
    <%- include(rootDir + 'partials/head.ejs') %>
    <link rel="stylesheet" href="/components/blog/blog.css">
    <link rel="stylesheet" href="/components/blog/blog-post.css">
    <title><%= title %> | Kenneth Wong</title>
</head>

<body>
    <!-- navbar -->
    <div id="curr-page"><%= page %></div>
    <div id="blog-id"><%= id %></div>
    <%- include(rootDir + 'partials/navbar.ejs') %>

    <!-- banner sketch here: -->
    <div id="blog-banner-sketch" class="sketch fade-in" style="width: 100%; height: 230px"></div>
    
    <div class="section blog-content">
        <div class="section-content constraint">
            <!-- main content -->
            <div class="main-content fade-in">
                <div class="post-title">
                    <span class="title"></span>
                    <span class="date"></span>
                </div>

                <!-- tags -->
                <div class="tags"></div>

                <!-- content -->
                <div class="post-content-list">
                    <!-- <div class="post-content"></div> -->
                </div>
            </div>

            <!-- sub content -->
            <div class="sub-content">
                <!-- popular post -->
                <div class="popular-post fade-in">
                    <div style="font-size: 1.2rem; margin: 0 0 1.1rem; padding: 0 0 1.25rem; border-bottom: 1px solid rgba(0, 0, 0, .05); color: rgba(0, 0, 0, .8)">Popular Posts</div>
                </div>

                <!-- recent post -->
                <div class="recent-post fade-in">
                    <div style="font-size: 1.2rem; margin: 4rem 0 1.1rem; padding: 0 0 1.1rem; border-bottom: 1px solid rgba(0, 0, 0, .05); color: rgba(0, 0, 0, .8)">Recent Posts</div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include(rootDir + 'partials/footer.ejs') %>

    <!-- script -->
    <script src= "/components/blog/blog-banner-sketch.js"></script>
    <script src= "/components/blog/blog-sub-content.js"></script>
    <script src= "/components/blog/blog-post.js"></script>
</body>
</html>