<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let rootDir = './' %>
    <%- include(rootDir + 'partials/head.ejs') %>
    <link rel="stylesheet" href="/components/home/home.css">
    <link rel="stylesheet" href="/components/home/home-banner.css">
    <link rel="stylesheet" href="/components/works/works-filter.css">
    <link rel="stylesheet" href="/components/works/works-showcase.css">
    <title>Home | Kenneth Wong</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TK4X3ZR"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- navbar -->
    <div id="curr-page"><%= page %></div>
    <%- include(rootDir + 'partials/navbar.ejs') %>

    <!-- banner -->
    <div id="home-background-sketch"></div>
    <%- include(rootDir + 'components/home-banner.ejs') %>

    <div id="first-section"></div>

    <div class="section featured-works fade-in">
        <div class="section-content contraint">
            <div class="line-br"></div>
            <div style="text-align: center; margin: 3rem 0 0; font-size: 1.4rem; font-weight: 400;">Featured Works</div>
            <div style="text-align: center; margin: .5rem 0 0; font-size: 1rem; font-weight: 400;">Creations from various fields I have created</div>
        </div>
    </div>

    <!-- works-showcase -->
    <%- include(rootDir + 'components/works-filter.ejs') %>
    <%- include(rootDir + 'components/works-showcase.ejs') %>

    <!-- footer -->
    <%- include(rootDir + 'partials/footer.ejs') %>

    <!-- script -->
    <script src= "./components/home/home-banner.js"></script>
    <script src= "./components/home/home-background-sketch.js"></script>
    <script src= "./components/works/work-list.js"></script>
    <script src= "./components/works/works-showcase.js"></script>
</body>
</html>